.err-conteiner{
    position: relative;
}
.err-ArticleCont{
    position: absolute;
    left: 35%;    
    bottom: -60vh;
    transform: translateX(-50%);
    
    @media (max-width: 600px ){
        left: 15%;
        transform: translateY(-50%);
        bottom: -72vh;
    }
    @media (max-width: 580px ){
        left: 15%;
        transform: translateY(-50%);
        bottom: -50vh;
    }
}
.err-ArticleCont img{
    opacity: 0.6;
    
}
.err-ArticleCont img:first-child{
    @media (max-width: 800px ){
    height: 80px;
    }
    @media (max-width: 580px ){
        height: 50px;
        }

}
.err-ArticleCont img:last-child{
    @media (max-width: 730px ){
        height: 100px;
        
        }
    @media (max-width: 580px ){
        height: 50px;
        left: 50%;
        }

}
.err-Back{
    background-image: url("../img/steny-shtukaturka-tekstura.png") ;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    left:0;
    top:0;    
    position: absolute;
    z-index: -1;
}
.err-flex{
   display: flex;
   align-content: center; 
}
.err-Article {
    padding-right: 50px;
    @media (max-width: 740px ){
        padding-right: 10px;
    }
}
.err-statue{
    bottom: -100vh;
    right: 0;
    position: absolute;
    height: 80vh;
    @media (max-width: 950px ){
        height: 70vh;
    }
    @media (max-width: 730px ){
        height: 60vh;
    }
    @media (max-width: 550px ){
        height: 50vh;
    }
}
.home{
    text-decoration: underline;
    margin-top: 10px;
    display: block;
}
.Folder-err-SubArticle{
    
    @media (max-width: 730px ){
        width: 240px;
    }
    @media (max-width: 635px ){
        width: 200px;
    }
    @media (max-width: 420px ){
        width: 180px;
    }
    @media (max-width: 330px ){
        width: 170px;
    }
}