.aboutUs-block {
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  width: 950px;
}

@media (max-width: 1000px) {
  .aboutUs-block {
    width: 80%;
  }
}

.boutUs-block-text {
  position: relative;
  width: 580px;
  height: 300px;
  padding-top: 30px;
  padding-left: 30px;
}

@media (max-width: 1000px) {
  .boutUs-block-text {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .boutUs-block-text {
    height: 400px;
  }
}

.boutUs-block-back {
  position: absolute;
  width: 659px;
  height: 300px;
  opacity: 0.5;
  background-color: #bc8f4c;
  border-radius: 30px;
  z-index: -1;
}

@media (max-width: 1000px) {
  .boutUs-block-back {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .boutUs-block-back {
    height: 400px;
  }
}

.boutUs-block-text p {
  font-size: 14.9px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  padding-bottom: 10px;
  width: 500px;
}

@media (max-width: 1000px) {
  .boutUs-block-text p {
    width: 100%;
  }
}

.boutUs-block-text p:first-child {
  font-size: 28px;
  line-height: 27px;
  font-weight: 400;
  color: #000000;
  padding-bottom: 40px;
}

.aboutUs-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.img-box-aboutUs_1 {
  width: 156px;
  height: 236px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  z-index: 5;
}

@media (max-width: 670px) {
  .img-box-aboutUs_1 {
    width: 200px;
  }
}

@media (max-width: 580px) {
  .img-box-aboutUs_1 {
    display: none;
  }
}

.img-box-aboutUs_1 img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-65%, -50%);
          transform: translate(-65%, -50%);
  width: 407px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-box-aboutUs_2 {
  width: 197px;
  height: 236px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  z-index: 5;
}

@media (max-width: 670px) {
  .img-box-aboutUs_2 {
    display: none;
  }
}

.img-box-aboutUs_2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-box-aboutUs_3 {
  width: 180px;
  height: 236px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  z-index: 5;
  margin-right: 15px;
}

@media (max-width: 1000px) {
  .img-box-aboutUs_3 {
    margin-right: 0px;
    width: 250px;
  }
}

@media (max-width: 810px) {
  .img-box-aboutUs_3 {
    width: 180px;
  }
}

@media (max-width: 670px) {
  .img-box-aboutUs_3 {
    width: 250px;
  }
}

@media (max-width: 580px) {
  .img-box-aboutUs_3 {
    display: none;
  }
}

.img-box-aboutUs_3 img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-13px, -93px);
          transform: translate(-13px, -93px);
  width: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-box-aboutUs {
  width: 384px;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  outline: 15px solid #fff;
  z-index: 5;
}

@media (max-width: 1000px) {
  .img-box-aboutUs {
    display: none;
  }
}

.img-box-aboutUs img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Benefits-container {
  padding-top: 45px;
}

.article {
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  color: #8e7862;
  text-transform: uppercase;
}

.Benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 965px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 35px;
}

@media (max-width: 1000px) {
  .Benefits {
    width: 600px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 750px) {
  .Benefits {
    display: block;
    width: 340px;
  }
}

@media (max-width: 400px) {
  .Benefits {
    width: 320px;
  }
}

@media (max-width: 1000px) {
  .img-border {
    display: none;
  }
}

.Benefit-item {
  width: 340px;
  height: 130px;
  position: relative;
}

@media (max-width: 400px) {
  .Benefit-item {
    width: 315px;
  }
}

.Benefit-item-right {
  width: 340px;
  height: 130px;
  position: relative;
}

@media (max-width: 400px) {
  .Benefit-item-right {
    width: 320px;
  }
}

.Benefit-item p:first-child {
  font-size: 18.3px;
  line-height: 22px;
  font-weight: 700;
}

.Benefit-item-right p:first-child {
  font-size: 18.3px;
  line-height: 22px;
  font-weight: 700;
}

.Benefit-item p {
  font-size: 13.7px;
  line-height: 18px;
  font-weight: 400;
  padding-left: 40px;
}

.Benefit-item-right p {
  font-size: 13.7px;
  line-height: 18px;
  font-weight: 400;
  text-align: end;
  padding-right: 40px;
}

.Benefit-item-left-img {
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
}

.Benefit-item-right-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
}

.benefit-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.Benefit-item:first-child {
  margin-bottom: 40px;
}

.Benefit-item-right:first-child {
  margin-bottom: 40px;
}
/*# sourceMappingURL=AboutUs.css.map */