.carousel {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 950px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 25px;
}

@media (max-width: 1200px) {
  .carousel {
    width: 700px;
  }
}

@media (max-width: 800px) {
  .carousel {
    width: 400px;
  }
}

@media (max-width: 460px) {
  .carousel {
    width: 320px;
  }
}

.carousel picture {
  margin-top: auto;
  margin-bottom: auto;
}

.carousel-item-text p {
  font-size: 17.8px;
  line-height: 1.2;
  color: #1f1f1f;
  max-width: 303px;
}

.carousel-item-text a {
  font-size: 13.3px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  max-width: 303px;
  text-align: center;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;
  padding-bottom: 35px;
}

.carousel-item-text p:first-child {
  font-size: 26.6px;
  line-height: 26px;
  font-weight: 400;
  color: #1f1f1f;
  width: 100%;
  padding-top: 20px;
}

.ta-center {
  text-align: center;
}

.image {
  width: 303px;
  height: 396px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 460px) {
  .image {
    width: 185px;
    height: 242px;
  }
}

.image-work {
  height: 294px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 5px;
  padding-right: 5px;
  width: 230px;
}

@media (max-width: 460px) {
  .image-work {
    height: 242px;
    width: 185px;
  }
}

.arrow-conteiner {
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.arrow-left {
  position: absolute;
}

.arrow-right {
  position: absolute;
}

.arrow-conteiner .arrow-left {
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transform: translateX(-65px);
          transform: translateX(-65px);
  z-index: 10;
}

.arrow-conteiner .arrow-right {
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transform: translateX(35px);
          transform: translateX(35px);
  z-index: 10;
}

.services-container {
  padding-top: 50px;
}

.flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 1200px) {
  .flex-item {
    height: 396px;
  }
}

@media (max-width: 460px) {
  .flex-item {
    height: 242px;
  }
}

.flex-item-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 1200px) {
  .flex-item-work {
    height: 294px;
  }
}

@media (max-width: 460px) {
  .flex-item-work {
    height: 242px;
  }
}

.first-text {
  padding-left: 67px;
}

@media (max-width: 1200px) {
  .dnone-first {
    display: none;
  }
}

@media (max-width: 860px) {
  .dnone-two {
    display: none;
  }
}

@media (max-width: 660px) {
  .dnone-three {
    display: none;
  }
}

@media (max-width: 6600px) {
  .dnone-four {
    display: none;
  }
}
/*# sourceMappingURL=Carusel.css.map */