$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
 
}


@font-face {
    font-family: 'Century Gothic';
    src: local('../fonts/Century Gothic Regular'), local('Century-Gothic-Regular'),
        url('../fonts/CenturyGothic.woff2') format('woff2'),
        url('../fonts/CenturyGothic.woff') format('woff'),
        url('../fonts/CenturyGothic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'Century Gothic';
    src: local('../fonts/Century Gothic Italic'), local('Century-Gothic-Italic'),
        url('../fonts/CenturyGothic-Italic.woff2') format('woff2'),
        url('../fonts/CenturyGothic-Italic.woff') format('woff'),
        url('../fonts/CenturyGothic-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Century Gothic';
    src: local('../fonts/Century Gothic Bold'), local('Century-Gothic-Bold'),
        url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
        url('../fonts/CenturyGothic-Bold.woff') format('woff'),
        url('../fonts/CenturyGothic-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Century Gothic';
    src: local('../fonts/Century Gothic Bold Italic'), local('../fonts/Century-Gothic-Bold-Italic'),
        url('../fonts/CenturyGothic-BoldItalic.woff2') format('woff2'),
        url('../fonts/CenturyGothic-BoldItalic.woff') format('woff'),
        url('../fonts/CenturyGothic-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
.n-wrap{
  overflow-wrap:break-word;
}
  .f100 {
    font-size: 100px;
    line-height: 1.2;
    @include adaptiv-font(100,50);   
}

  .f48 {
    font-size: 48px;
    line-height: 1.2;
    @include adaptiv-font(48,24);    
}
.f30 {
  font-size: 30px;
  line-height: 1.2; 
  @include adaptiv-font(30,15);   
}
.f24 {
    font-size: 24px;
    line-height: 1.2; 
    @include adaptiv-font(24,6);
    @media (max-width: 430px ){
        @include adaptiv-font(24,11);
    }
     
}
.f23 {
    font-size: 23px;
    line-height: 1.2; 
    @include adaptiv-font(23,12);  
}
.f18{
  font-size: 18px;
  line-height: 1.2; 
  @include adaptiv-font(18,12);   
}
.f16{
    font-size: 16px;
    line-height: 1.2;
    @include adaptiv-font(16,8);    
}
.f14{
    font-size: 14px;
    line-height: 1.2;
    @include adaptiv-font(14,7);      
}

.white{
  color: #e8e9db;
}
.black{
  color: #000;
}
.txt-center{
  text-align: center;
}
.undline{
  text-decoration: underline;
}
.itlic{
  font-style: italic;
}
