.work-container{
    position: relative;   
    overflow: hidden; 
    
}
.work-back{
    position: absolute;
    background: url('../img/steny-shtukaturka-tekstura.png');
    height: 100%;
    width: 100%;
    //width: 100%;
    //object-fit: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -5;
}
.work-txt{
    color: #e8e9db;
    padding-top: 50px;

}
.our-work-artcile{
    text-align: center;
    padding-top: 45px;
  }

  .soc-web{
     display: flex;
     justify-content: space-evenly;
    padding-top: 25px;
     //width: 200px;
     align-self:center;
     padding-bottom: 30px;
  }
  .soc-web div a:first-child{
      padding-right:15px ;
  }
  .soc-web div a img{
      opacity: 0.6;
  }